<footer class="site-footer">
    <div class="footer-social">
        {% if site.footer-links.linkedin %}
            <a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}">
                <i class="fab fa-linkedin-in"></i> <span>LinkedIn</span>
            </a>
        {% endif %}
        {% if site.footer-links.github %}
            <a href="http://github.com/{{ site.footer-links.github }}">
                <i class="fab fa-github"></i> <span>Github</span>
            </a>
        {% endif %}
    </div>
</footer>
      